<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaiterApp</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{{body}}}

     <script>

        setTimeout(function() {
            var invalidErrMsg = document.getElementById("invalidUsername");
                invalidErrMsg.style.display = "none";
            var loginSuccess = document.getElementById("loginSuccess");
                loginSuccess.style.display = "none";   
        }, 5000);

    </script>  
</body>
</html>