<!DOCTYPE html>
<html lang="en">
<head>
<script>
var dataLayer = {
    "pageName" : "homePage"
}
    </script>
<script src="https://assets.adobedtm.com/43e08a8c9425/04a217fb8cee/launch-3203aebcc466-development.min.js" async></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaiterApp</title>
    <link rel="stylesheet" href="/css/style.css">
   
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
  
    {{{body}}}

     <script>
        setTimeout(function() {

            var invalidErrMsg = document.getElementById("invalidUsername");
                invalidErrMsg.style.display = "none";
           
        }, 5000);
    </script>  
</body>
</html>
