<form action="/admin" method="post">
<h1>This is the admin side</h1>
    <h1>Weekly Schedule</h1>

    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Waiter Name</th>
            </tr>
        </thead>
        <tbody id="schedule">
            <tr>
                <td>Monday</td>
                <td id="monday">{{22}}</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td id="tuesday">{{22}}</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td id="wednesday">{{22}}</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td id="thursday">{{22}}</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td id="friday">{{22}}</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td id="saturday">{{22}}</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td id="sunday">{{22}}</td>
            </tr>
        </tbody>
    </table>
</form>
