 <div class="container">
        <h2>Choose Your Working Days, {{username}}</h2>
        <p id="loginSuccess">{{loginSuccess}}</p>
        <form action="/choosedays/{{username}}" method="POST">
            <label>
                <input type="checkbox" name="days" value="Monday"> Monday
            </label>
            <label>
                <input type="checkbox" name="days" value="Tuesday"> Tuesday
            </label>
            <label>
                <input type="checkbox" name="days" value="Wednesday"> Wednesday
            </label>
            <label>
                <input type="checkbox" name="days" value="Thursday"> Thursday
            </label>
            <label>
                <input type="checkbox" name="days" value="Friday"> Friday
            </label>
            <label>
                <input type="checkbox" name="days" value="Saturday"> Saturday
            </label>
            <label>
                <input type="checkbox" name="days" value="Sunday"> Sunday
            </label>
            <input type="submit" value="Submit">
        </form>
    </div>