 <div class="container">
        <h2>Selected Days</h2>
        <form action="/confirmdays/{{username}}" method="POST">
        <ul id="selected-days" class="no-bullets">
            <!-- Selected days will be displayed here dynamically -->
        {{#each chosenDay}}
        <li>{{this}}</li>
        {{/each}}
        </ul>
        <p>{{confirmMessage}}</p>
        <button id="confirm-button">Confirm</button>
        </form>  

        <form action="/" method="get">
        <button id="logout">Logout</button>
        </form>    
</div>