 <div class="container">
        <h1>Selected Days</h1>

        <div class="center-container">
            
        <form action="/confirmdays/{{username}}" method="POST">
        <ul id="selected-days" class="no-bullets">
            <!-- Selected days will be displayed here dynamically -->
        {{#each chosenDay}}
        <li>{{this}}</li>
        {{/each}}
        </ul>

        {{#unless showButton}}
       <span class="material-symbols-outlined check">check_circle</span>
        {{/unless}}
        
        <p class="confirmMessage">{{confirmMessage}}</p>
        
        {{# if showButton}}
        <button id="confirm-button">Confirm</button>
        {{/if}}
        </form> 

        </div>
         
        <form action="/" method="get">
        <button id="confrimLogout">Logout</button>
        </form>  

</div>