     body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
     }
     
     /* Container Styles */
        .container {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            padding: 10%;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        /* Header Styles */
        h2 {
            color: #333;
        }

        /* Form Styles */
        form {
            display: flex; /* Make the form a flex container */
            flex-direction: column; /* Align children vertically (if needed) */
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #555;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"],
        button {
            width: 50%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Signup Link Styles */
        .signup-link {
            margin-top: 15px;
        }
        .login-link {
             margin-top: 15px;
        }

        .signup-link a {
            color: #007bff;
            text-decoration: none;
        }
        .login-link a {
            color: #007bff;
            text-decoration: none;
        }
        
        /* .no-bullets { */
            /* list-style: none; */
            /* text-align: center; */
        /* } */

        /* Style the table */
table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Style the table header (thead) */
thead {
    background-color: #f2f2f2;
}

thead th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Style the table data (tbody) */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Style the h1 header */
h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.clearForm {
   text-align: center;
}

.fewWaiter {
    color: red;
}

.enoughWaiter {
    color: green;
}

.moreWaiter {
    color: orange;
}

.center-container {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    border: 1px solid #ccc; /* Add a border for visualization */
    /* padding: 10px; Optional padding for the container */
}

.admin-container {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    min-width: 100%;
    /* border: 1px solid #ccc; Add a border for visualization */
    /* padding: 10px; Optional padding for the container */
}

.chooseDays {
    border: 1px solid #ccc; /* Add a border for visualization */
    padding: 40px; /* Optional padding for the container */
    margin-bottom: 10%;
}

#confirm-button{
    margin-bottom: 2%;
}

